@import '../../general';

$categoryTree-color-ft: $color-primary-ft !default;
$categoryTree-color-ft-active: $color-secondary-ft !default;

.categoryTree {
  padding: 1rem;
  position: sticky;
  top: 3rem;
  height: auto;
  
  &__header {
    color: $categoryTree-color-ft;
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  &__list {
    list-style: none;
  }

  &__category {
    display: block;
    cursor: pointer;
    color: $categoryTree-color-ft;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: .2s all;

    &--active {
      color: $categoryTree-color-ft-active;
    }
  }
}