<section class="categoryTree">
  <h2 class="categoryTree__header">Categories</h2>
  <ul class="categoryTree__list">
      <li *ngFor="let category of categories | keyvalue">
        <a 
          class="categoryTree__category"
          routerLink="/category/{{category.key}}"
          routerLinkActive="categoryTree__category--active"
        >
          {{category.value.title}}
        </a>
      </li>
      <li>
        <a
          class="categoryTree__category"
          routerLink="/"
        >⮎ All Products</a>
      </li>
  </ul>
</section>
